@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900);

:root {
    --primary-color: #0f52ba;
    --secondary-color: #50c878;
    --background-color: #e2f6f6;
    --blue-2: #3974cf;
    --white: #fff;
    --black: #000;
    --primary-filter: invert(21%) sepia(45%) saturate(4008%) hue-rotate(209deg) brightness(95%) contrast(94%);
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: inherit;
    user-select: none;
    font-family: "Inter";
}

html {
    box-sizing: border-box;
    overflow: hidden auto;
}

a, button, input, textarea, fieldset { outline: none }
a, button, input[type="radio"], input[type="checkbox"] { cursor: pointer }

::-webkit-scrollbar {
    background: var(--background-color);
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 6px;
    border: 2px solid var(--background-color);
}

svg:not(:root) { display: block }

::selection {
    color: var(--white);
    background: #444;
}

h1, h2, h3, h4, h5, p, a, span, button, ::placeholder {
    cursor: default;
    user-select: none;
}

html, body {
    width: 100%;
    min-height: 100vh;
}

@keyframes turn-animation {
    from { transform: rotate(0) }
    to { transform: rotate(1turn) }
}

img {
    ~ span { display: none }

    &.failed {
        display: none;
        ~ span { display: inline-block }
    }
}

body {
    position: relative;

    .loader-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: 1e10;
        top: 0;
        left: 0;

        .page-loader {
            width: 100%;
            height: 100%;
            background: var(--background-color);
            opacity: 1;
            pointer-events: none;
            transition: all 1s ease-in-out;
            z-index: 1e10;

            img {
                position: relative;
                width: 5em;
                filter: var(--primary-filter);

                &:first-child {
                    top: 2.5em;
                    animation: turn-animation .8s linear infinite;
                }

                &:last-child {
                    top: -2.5em;
                    animation: turn-animation .8s cubic-bezier(.445,.1,.55,.9) .1s infinite;
                }
            }
        }
    }

    main { z-index: 1 }

    &.loaded {
        overflow: initial;

        .loader-container {
            z-index: -1;

            .page-loader {
                opacity: 0;
                visibility: hidden;
                z-index: -1;
            }
        }
    }
}
